{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script src="{% static 'js/quill-init.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function initQuillEditor(selector) {
            var editorElement = document.querySelector(selector);
            if (editorElement) {
                var quill = new Quill(editorElement, {
                    theme: 'snow'
                });

                // Sincroniza o conteúdo do Quill com o campo oculto do form
                quill.on('text-change', function () {
                    var textarea = document.querySelector(`textarea[data-target="${selector}"]`);
                    if (textarea) {
                        textarea.value = quill.root.innerHTML;
                    }
                });
            }
        }

        // Busca todos os elementos que possuem o atributo `data-quill`
        document.querySelectorAll("[data-quill]").forEach(function (editor) {
            initQuillEditor(`#${editor.id}`);
        });

        // Função de configuração da imagem de preview
        function initImagePreview(imageInputSelector, imagePreviewSelector) {
            const imageInput = document.querySelector(imageInputSelector);
            const imagePreview = document.querySelector(imagePreviewSelector);

            if (imageInput && imagePreview) {
                var imageUrl = imagePreview.src;

                fetch(imageUrl)
                    .then(res => res.blob())
                    .then(blob => {
                        var file = new File([blob], "image.jpg", { type: blob.type });
                        var dataTransfer = new DataTransfer();
                        dataTransfer.items.add(file);
                        imageInput.files = dataTransfer.files;
                    })
                    .catch(err => console.log(err));

                if (imagePreview.src && imagePreview.src.trim() !== "") {
                    imagePreview.style.display = "block";
                }

                imagePreview.addEventListener("click", function () {
                    imageInput.click();
                });

                imageInput.addEventListener("change", function () {
                    const file = this.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            imagePreview.src = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    }
                });
            }
        }

        // Inicializa a pré-visualização de imagem
        initImagePreview(".image-upload-blog", "#imagepreviewuploadblog");
    });
</script>
