{% extends 'index.html' %}
{% load static %}
{% block title %}Fale comigo{% endblock %}
{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="text-center mt-5">
                    <span class="tit2">Fale Comigo</span>
                </div>
                <div class="card-body">
                    {% include 'components/message.html' %}
                    
                    <form class="needs-validation" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <!-- Coluna com os inputs -->
                            <div class="col-md-6">
                                <div class="size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                    {{ form.nome }}
                                </div>
                                <div class="size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                    {{ form.email }}
                                </div>
                                <div class="size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                    {{ form.telefone }}
                                </div>
                            </div>
                            <!-- Coluna com o textarea -->
                            <div class="col-md-6">
                                {{ form.descricao }}
                            </div>
                        </div>
                        <div class="col-12 text-center mb-5">
                            <button type="submit" class="btn3 size31 txt11 trans-0-4">Enviar Mensagem</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
