<aside
  :class="sidebarOpen ? 'w-64' : 'w-16'"
  class="fixed inset-y-0 left-0 bg-gray-800 text-gray-100 flex flex-col transition-all duration-200 ease-in-out"
>
  <div class="flex items-center justify-between p-4 border-b border-gray-700">
    <span x-show="sidebarOpen" class="text-xl font-semibold">FlowBi</span>
    <button
      @click="sidebarOpen = !sidebarOpen"
      class="p-1 hover:bg-gray-700 rounded focus:outline-none"
    >
      <i
        class="fa-solid"
        :class="sidebarOpen ? 'fa-chevron-left' : 'fa-chevron-right'"
      ></i>
    </button>
  </div>

  <nav class="flex-1 px-1 py-4 space-y-2 overflow-y-auto">
    <a
      href="{% url 'home_dashboard' %}"
      class="flex items-center px-3 py-2 rounded hover:bg-gray-700"
    >
      <i class="fa-solid fa-chart-pie text-lg" title="Meu painel"></i>
      <span x-show="sidebarOpen" class="ml-3">Meu painel</span>
    </a>
    {% if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'category_list' %}" class="flex items-center px-3 py-2 rounded hover:bg-gray-700">
      <i class="fa-solid fa-square-poll-vertical text-lg" title="Meu painel"></i>
      <span x-show="sidebarOpen" class="ml-3">Categorias</span>
    </a>
    {% endif %}
    <a
      href=""
      class="flex items-center px-3 py-2 rounded hover:bg-gray-700"
    >
      <i class="fa-solid fa-table text-lg" title="Meus BI"></i>
      <span x-show="sidebarOpen" class="ml-3">Meus BI</span>
    </a>
    <a
      href="{"
      class="flex items-center px-3 py-2 rounded hover:bg-gray-700"
    >
      <i class="fa-solid fa-clock-rotate-left text-lg" title="Últimos Acessos"></i>
      <span x-show="sidebarOpen" class="ml-3">Últimos Acessos</span>
    </a>
  </nav>

  <div class="p-4 border-t border-gray-700">
    <a
      href="{% url 'logout' %}"
      class="flex items-center px-3 py-2 rounded hover:bg-gray-700"
    >
      <i class="fa-solid fa-sign-out-alt text-lg" title="Sair"></i>
      <span x-show="sidebarOpen" class="ml-3">Sair</span>
    </a>
  </div>
</aside>
