<div class="col-12 mb-4">
    <div class="card shadow-card-1">
        <div class="card-body d-flex flex-column">
            <div class="d-flex justify-content-between align-items-start">
                <h5 class="card-title">{{ item.titulo }}</h5>
                {% if user.is_authenticated %}
                    <div class="dropdown dropleft">
                        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            &#9881;
                        </button>
                        <div class="dropdown-menu ">
                            <form method="post" action="{% url 'deletar_proposta' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item text-danger">Remover</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div id="descricao{{ item.id }}" class="collapse mt-2">
                <p>{{ item.descricao | safe }}</p>
                {% if item.pdf %}
                    <div class="text-center mt-3">
                        <a href="{{ item.pdf.url }}" class="btn btn-outline-secondary btn-sm" target="_blank">
                            📎 Abrir Anexo
                        </a>
                    </div>
                {% endif %}
            </div>

            <!-- Botão sempre no final do card -->
            <div class="text-center mt-3">
                <button class="btn3 size31 txt11 trans-0-4 w-100 toggle-btn" data-toggle="collapse" data-target="#descricao{{ item.id }}">Mais informações</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".toggle-btn").forEach(button => {
            button.addEventListener("click", function () {
                setTimeout(() => {
                    this.innerText = this.innerText === "Mais informações" ? "Menos informações" : "Mais informações";
                }, 300);
            });
        });
    });
</script>
