{% extends 'index.html' %}
{% load static %}
{% block title %}Propostas e Projetos{% endblock %}
{% block content %}
<div class="container-fluid">
    <ul class="nav nav-tabs" id="tabs-propostas">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#propostas">Propostas</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#projetos">Projetos</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#leis">Leis</a></li>
    </ul>
</div>
    <div class="container tab-content p-t-20 p-b-105">
        <div class="tab-pane fade show active" id="propostas">
            <div class="row">
                {% for proposta in propostas %}
                    {% include 'propostas/card.html' with item=proposta %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="projetos">
            <div class="row">
                {% for projeto in projetos %}
                    {% include 'propostas/card.html' with item=projeto %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="leis">
            <div class="row">
                {% for lei in leis %}
                    {% include 'propostas/card.html' with item=lei %}
                {% endfor %}
            </div>
        </div>
    </div>

{% if user.is_authenticated %}
	<div class="col-12 text-center mb-3">    
		<button 
			class="btn btn-success" 
			data-toggle="modal" 
			data-target="#cadastroModal">
			Cadastrar Novo
		</button>
        {% include 'propostas/modal_cadastro.html' %}
	</div>
{% endif %}
{% endblock %}
