{% load static %}
{% block content %}

    <div class="modal fade" id="graficModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Selecionar Eixos para o Gráfico</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="axisForm">
                        <input type="hidden" id="tablereference" name="tablereference">
                        <div class="form-group">
                            <label for="xAxis">Dado para compor o eixo X</label>
                            <select required class="form-control" id="xAxis" name="xAxis">
                                <!-- Opções para o eixo X -->
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="yAxis">Dado para compor o eixo Y</label>
                            <select required class="form-control" id="yAxis" name="yAxis">
                                <!-- Opções para o eixo Y -->
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="title">Título do gráfico</label>
                            <input type="text" class="form-control" value="Distribuição" id="title" name="title">
                        </div>
                        <div class="form-group mt-3">
                            <label for="type">Tipo de gráfico</label>
                            <select required class="form-control" id="type" name="type">
                                <option value="pie">Gráfico de Pizza</option>
                                <option value="bar">Gráfico de Barra</option>
                            </select>
                        </div>
                        {% comment %} <div class="form-group mt-3">
                            <label for="label">Casas decimais</label>
                            <select required class="form-control" id="label" name="label">
                                <option value="{x:}">X.0</option>
                                <option value="{x:.1f}">X.1</option>
                                <option value="{x:.2f}">X.2</option>
                            </select>
                        </div> {% endcomment %}
                </div>
                <div class="modal-footer d-flex justify-content-center flex-nowrap mt-3">
                    <button type="button" class="btn btn-secondary col-6" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="active" class="btn btn-success col-6">Gerar</button>
                    <button type="submit" name="insert2" class="btn btn-secondary d-none">Salvar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="anoModal" tabindex="-1" role="dialog" aria-labelledby="anoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="anoModalLabel">Definir anos para comparação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="anoForm" >
                        <input type="hidden" id="projetoinput" name="projetoinput">
                        <input type="hidden" id="anobase" name="anobase">
                        <div class="form-group mt-3">
                            <label for="yAxis">Anobase inicial da comparação</label>
                            <input 
                                type = "number" 
                                name = "anobasei"
                                id = "anobasei"
                                min="1900" 
                                max="2100"
                                required
                                placeholder = "Exemplo: 1997"
                                class="form-control"
                            />
                        </div>{% comment %} 
                        <div class="form-group mt-3">
                            <label for="title">Anobase Final</label>
                            <input 
                                type = "number" 
                                name = "anobasef"
                                id = "anobasef"
                                min="1900" 
                                max="2100"
                                required
                                placeholder = "Exemplo: 2022"
                                class="form-control"
                            />
                        </div> {% endcomment %}
                </div>
                <div class="modal-footer d-flex justify-content-center flex-nowrap mt-3">
                    <button type="button" class="btn btn-secondary col-6" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="active" class="btn btn-success col-6">Gerar comparação</button>
                    <button type="submit" name="insert2" class="btn btn-secondary d-none">Salvar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                    <p class="mt-2">Carregando...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Erro -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Não foi possivel completar sua requisição</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p id="errorMessage"></p>
            </div>
        </div>
        </div>
    </div>

    {% if is_proc %}
        <!-- Modal de inserir processamento -->
        <div class="modal fade" id="insertProc" tabindex="-1" role="dialog" aria-labelledby="insertProcModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="insertProcModalLabel">Selecione um projeto de sua região para processar os dados econômicos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="procForm" method="POST">
                            {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="xAxis">Projeto de pesquisa</label>
                            <select required class="form-control" id="idprojeto" name="idprojeto">
                                <option value="">Nenhum projeto selecionado</option>
                                {% for projeto in listaProjetos %}
                                <option value="{{projeto.idprojeto}}">{{projeto.idprojeto}} - {{projeto.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="xAxis">Sistema</label>
                            <select required class="form-control" id="sistema" name="sistema">
                                <option value="E">Extrativista</option>
                                <option value="A">Agropecuario</option>
                                <option value="F">Florestal</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center flex-nowrap">
                        <button type="button" class="btn btn-secondary col-6" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" name="active" class="btn btn-success col-6">Gerar processamento</button>
                        <button type="submit" name="insert2" class="btn btn-secondary d-none">Salvar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        $(document).ready(function() {
            $('.tableButton').DataTable({
                stateSave: true,
                "language": {
                    "url": "{% static 'css/dataTables/ptbr10_19.json' %}",
                    sProcessing: '<i style="color: var(--bs-primary);" class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Carregando..</span>',
                },
                dom: "<'row'<'d-flex justify-content-md-start justify-content-center col-md-6 col-12'B><'d-flex justify-content-md-end justify-content-center col-md-6 col-12'l>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-12 d-flex justify-content-center'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                buttons: [
                    {
                        extend: 'collection',
                        text: 'Lista de ações',
                        className: 'btn-sm',
                        buttons: [
                            {
                                extend: 'excel',
                                className: 'btn-primary btnDataTable btn-sm',
                                text: 'Baixar excel',
                                exportOptions: {
                                    columns: ':visible',
                                    format: {
                                        body: function(data, row, column, node) {
                                            data = $('<p>' + data + '</p>').text();
                                            return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                                        }
                                    }
                                }
                            },
                            {
                                text: 'Gerar gráfico',
                                className: 'btn-primary btnDataTable btn-sm graficModal',
                                action: function (e, dt, node, config) {
                                    console.log('começou');
                                    var table = dt.table(); // Obtenha a referência para a tabela DataTable
                                    var tableReference = table.context[0].sTableId;

                                    var columns = table.columns().header().toArray(); // Obtenha as colunas
                                    var columnNames = columns.map(function(column) {
                                        return $(column).text();
                                    });
                                    console.log(columnNames);
                                    // Preenche as opções nos selects do modal
                                    $('#xAxis, #yAxis').empty(); // Limpa as opções existentes
                                    $.each(columnNames, function(index, value){
                                        $('#xAxis, #yAxis').append($('<option>', {
                                            value: index, // Use o índice como valor
                                            text: value
                                        }));
                                    });

                                    $('#tablereference').val(tableReference);
                                    $('#graficModal').modal('show');
                                }
                            },
                            {
                                text: 'Fonte dos dados',
                                className: 'btn-primary btnDataTable btn-sm graficModal',
                                action: function (e, dt, node, config) {
                                    
                                    var fonte = dt.table().node().getAttribute('data-fonte');
                                    var projeto = dt.table().node().getAttribute('data-projeto');

                                    // Enviando uma solicitação AJAX para o servidor
                                    $.ajax({
                                        url: '/gerar/fonte/'+fonte+'/'+projeto+'/',
                                        type: 'POST',
                                        headers: {
                                            "X-CSRFToken": '{{ csrf_token }}'
                                        },
                                        data: {
                                            'fonte': fonte,
                                            'projeto': projeto
                                        },
                                        success: function (data, status, xhr) {
                                            if (!data["valid"]) {
                                                // Se for bem-sucedido e data.valid não for verdadeiro, trata-se de um download de arquivo
                                                console.log(xhr.getResponseHeader('Content-Type'))
                                                // Verificar se a resposta é um Blob
                                                var responseType = 'text'; // Por padrão, esperamos uma resposta de texto
                                                if (xhr.getResponseHeader('Content-Type').indexOf('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') !== -1) {
                                                    // Se a resposta for um Blob, atualize o responseType
                                                    responseType = 'blob';
                                                }
                                    
                                                // Fazer uma segunda solicitação com responseType atualizado
                                                $.ajax({
                                                    url: '/gerar/fonte/'+fonte+'/'+projeto+'/',
                                                    type: 'POST',
                                                    headers: {
                                                        "X-CSRFToken": '{{ csrf_token }}'
                                                    },
                                                    xhrFields: {
                                                        responseType: responseType
                                                    },
                                                    data: {
                                                        'fonte': fonte,
                                                        'projeto': projeto
                                                    },
                                                    success: function (data, status, xhr) {
                                                        var disposition = xhr.getResponseHeader('Content-Disposition');
                                                        var filename = disposition.match(/filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/);
                                                        var a = document.createElement('a');
                                                        var url = window.URL.createObjectURL(data);
                                    
                                                        a.href = url;
                                                        a.download = filename[1];
                                                        document.body.append(a);
                                                        a.click();
                                    
                                                        // Remover o link após o download
                                                        a.remove();
                                                        window.URL.revokeObjectURL(url);
                                                    },
                                                    error: function (xhr, status, error) {
                                                        console.log(xhr);
                                                    }
                                                });
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            // Exibe a mensagem de erro no modal
                                            $('#errorMessage').text(xhr.responseJSON.error);
                                            $('#errorModal').modal('show');
                                        }
                                    });
                                },
                                init: function(api, node, config) {
                                    // Oculte o botão inicialmente
                                    $(node).hide();
            
                                    // Verifique se a tabela tem a classe 'classe-especifica'
                                    if ($(api.table().node()).hasClass('tableFonte')) {
                                        $(node).show(); // Mostrar o botão se a classe estiver presente
                                    }
                                }
                            },
                            {
                                text: 'Comparação entre anos',
                                className: 'btn-primary btnDataTable btn-sm graficModal',
                                action: function (e, dt, node, config) {
                                    // Capturar o valor do atributo data-projeto do botão clicado
                                    var projeto = dt.table().node().getAttribute('data-projeto');
                                    var ano = dt.table().node().getAttribute('data-ano');
                                    // Adicionar o valor capturado ao input hidden dentro do modal
                                    $('#anoModal #projetoinput').val(projeto);
                                    $('#anoModal #anobase').val(ano);
                            
                                    // Mostrar o modal
                                    $('#anoModal').modal('show');
                                },
                                init: function(api, node, config) {
                                    // Oculte o botão inicialmente
                                    $(node).hide();
            
                                    // Verifique se a tabela tem a classe 'classe-especifica'
                                    if ($(api.table().node()).hasClass('tableAnoAnterior')) {
                                        $(node).show(); // Mostrar o botão se a classe estiver presente
                                    }
                                }
                            }
                        ],
                    },
                    {% if is_proc %}
                        {
                            text: 'Novo processamento',
                            action: function (e, dt, node, config) {
                                $('#insertProc').modal('show');
                            }
                        },
                    {% endif %}
                ],
                initComplete: function (settings, json) {
                    $(".btnDataTable").removeClass("btn-secondary");
                },
            });

            $('#anoForm').submit(function(event) {
                event.preventDefault();
                
                $('#anoModal').modal('hide');
                $('#loadingModal').modal('show');
            
                var label = $('#label').val();
                var tipo = $('#anobase').val();
                var anobasei = $('#anobasei').val();
                var anobasef = $('#anobasef').val();
                var projeto = $('#projetoinput').val();
            
                $.ajax({
                    type: 'POST',
                    url: '/gerar/ano/' + tipo + '/' + projeto + '/',
                    headers: {
                        "X-CSRFToken": '{{ csrf_token }}'
                    },
                    data: {
                        'tipo': tipo,
                        'anobasei': anobasei,
                        'anobasef': anobasef,
                        'projeto': projeto,
                        'label': label
                    },
                    success: function(data, status, xhr) {
                        if (!data["valid"]) {
                            // Se for bem-sucedido e data.valid não for verdadeiro, trata-se de um download de arquivo
                            console.log(xhr.getResponseHeader('Content-Type'))
                            // Verificar se a resposta é um Blob
                            var responseType = 'text'; // Por padrão, esperamos uma resposta de texto
                            if (xhr.getResponseHeader('Content-Type').indexOf('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') !== -1) {
                                // Se a resposta for um Blob, atualize o responseType
                                responseType = 'blob';
                            }
            
                            // Fazer uma segunda solicitação com responseType atualizado
                            $.ajax({
                                url: '/gerar/ano/' + tipo + '/' + projeto + '/',
                                type: 'POST',
                                headers: {
                                    "X-CSRFToken": '{{ csrf_token }}'
                                },
                                xhrFields: {
                                    responseType: responseType
                                },
                                data: {
                                    'tipo': tipo,
                                    'anobasei': anobasei,
                                    'anobasef': anobasef,
                                    'projeto': projeto,
                                    'label': label
                                },
                                success: function(data, status, xhr) {
                                    var disposition = xhr.getResponseHeader('Content-Disposition');
                                    var filename = disposition.match(/filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/);
                                    var a = document.createElement('a');
                                    var url = window.URL.createObjectURL(data);
            
                                    a.href = url;
                                    a.download = filename[1];
                                    document.body.append(a);
                                    a.click();
            
                                    // Remover o link após o download
                                    a.remove();
                                    window.URL.revokeObjectURL(url);
            
                                    // Fechar modal de carregamento após 1 segundo
                                    setTimeout(function() {
                                        $('#loadingModal').modal('hide');
                                    }, 700); // 1000 milissegundos = 1 segundo
                                },
                                error: function(xhr, status, error) {
                                    // Fechar modal de carregamento após 1 segundo
                                    setTimeout(function() {
                                        $('#loadingModal').modal('hide');
                                        // Exibir modal de erro
                                        $('#errorMessage').text('Ocorreu um erro ao baixar o arquivo.');
                                        $('#errorModal').modal('show');
                                    }, 700); // 1000 milissegundos = 1 segundo
                                }
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        // Exibir modal de erro com mensagem personalizada
                        $('#errorMessage').text(xhr.responseJSON.error);
                        $('#errorModal').modal('show');
            
                        // Fechar modal de carregamento
                        $('#loadingModal').modal('hide');
                    }
                });
            });

            $('#axisForm').submit(function(event){
                event.preventDefault();
                $('#graficModal').modal('hide');
                var tabl1eId = $('#tablereference').val(); // Obter a ID da tabela
                var divreference = $('#'+tabl1eId + '_wrapper');
                var xAxis = $('#xAxis').children("option:selected").text();
                var yAxis = $('#yAxis').children("option:selected").text();
                console.log(xAxis)
                console.log(yAxis)
                var xAxisIndex = $('#xAxis').val();
                var yAxisIndex = $('#yAxis').val();
                var type = $('#type').val();
                var label = $('#label').val();
                var title = $('#title').val();

                var tableReference = $('#' + tabl1eId).DataTable(); // Obter a referência à tabela DataTable
                var xAxisColumnIndex = tableReference.column(xAxisIndex).index(); // Índice da coluna do eixo x
                var yAxisColumnIndex = tableReference.column(yAxisIndex).index(); // Índice da coluna do eixo y

                var xAxisData = tableReference.column(xAxisColumnIndex).data().toArray(); // Valores do eixo x
                var yAxisData = tableReference.column(yAxisColumnIndex).data().toArray(); // Valores do eixo y

                $.ajax({
                    type: 'POST',
                    url: "{% url 'gerargrafico' %}",
                    headers:{
                        "X-CSRFToken": '{{ csrf_token }}'
                    },
                    data: {
                        'xAxis': xAxis,
                        'yAxis': yAxis,
                        'xAxisData': xAxisData,
                        'yAxisData': yAxisData,
                        'label': label,
                        'title': title,
                        'type': type
                    },
                    success: function(data) {
                        // Criar um novo documento HTML
                        var newWindow = window.open('', title, "popup");
                        
                        // Escrever o conteúdo HTML retornado no novo documento
                        newWindow.document.write(data.data);
                        
                        // Impedir que o novo documento navegue para uma URL vazia
                        newWindow.document.close();
                    },
                    error: function(xhr, errmsg, err) {
                        // Criar um novo documento HTML
                        var newWindow = window.open('', title, "popup");
                        
                        // Escrever o conteúdo HTML retornado no novo documento
                        newWindow.document.write(err);
                        newWindow.document.append(errmsg);

                        // Impedir que o novo documento navegue para uma URL vazia
                        newWindow.document.close();
                    }
                });
            });
            
            $('.tableSearch').DataTable({
                "language": {
                    "url": "{% static 'css/dataTables/ptbr10_19.json' %}",
                    sProcessing: '<i style="color: var(--bs-primary);" class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Carregando..</span>',
                },
                stateSave: true,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                initComplete: function (settings, json) {
                    $(".btnDataTable").removeClass("btn-secondary");
                }
            });

            $('.tableSearchButton').DataTable({
                "language": {
                    "url": "{% static 'css/dataTables/ptbr10_19.json' %}",
                    sProcessing: '<i style="color: var(--bs-primary);" class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Carregando..</span>',
                },
                dom: "<'row'<'d-flex justify-content-center justify-content-md-start col-12 col-md-6'B><'d-flex justify-content-center justify-content-md-end col-12 col-md-6'f>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-12 d-flex justify-content-center'i>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                stateSave: true,
                buttons: [
                    {
                        extend: 'excel',
                        className: 'btn-primary btnDataTable btn-sm',
                        text: 'Excel',
                        exportOptions: {
                            columns: ':visible',
                            format: {
                                body: function(data, row, column, node) {
                                    data = $('<p>' + data + '</p>').text();
                                    return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                                }
                            }
                        }
                    },
                    {
                        extend: 'print',
                        className: 'btn-primary btnDataTable btn-sm',
                        text: 'Imprimir',
                    }
                ],
                initComplete: function (settings, json) {
                    $(".btnDataTable").removeClass("btn-secondary");
                }
            });

        });

        function loadSpinnerTH(elemento, colsp) {
            // Seleciona o elemento pai
            const pai = elemento.parentNode.parentNode
            // Substitui o conteúdo pelo spinner
            pai.innerHTML = '<th colspan="'+colsp+'" class="w-100 text-center"><i class="fas fa-spinner fa-spin spinner"></i></th>';
        }

    </script>

{% endblock %}