{% load static %}
{% block content %}

    <script>
        function getBaseUrl() {
            var base_url = window.location;
            return base_url;
        }

        function openLogModal(value, event) {
            // Dividir a string em uma matriz usando ","
            var clickedButton = event; 

            // Salve o texto original do botão para restaurá-lo depois
            var originalButtonText = clickedButton.innerHTML;

            // Altere o botão para o estado de carregamento
            clickedButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i>';
            clickedButton.disabled = true;

            var items = value.split('@#$@#@');
            {% for chave in columns_query_script %}
                {% if chave.1 == 'P' %}
                    $.ajax({
                        url: getBaseUrl(),
                        headers: {
                            "X-CSRFToken": '{{ csrf_token }}'
                        },
                        type: "POST",
                        data: {
                            'log': 'log',
                            'chave': items[0]
                        },
                        success: function(response) {
                            var logEntries = JSON.parse(response.log_entries); // Parse o JSON para um objeto JavaScript
                            
                            if ($.fn.DataTable.isDataTable('#logDataTable')) {
                                $('#logDataTable').DataTable().clear(); // Destroi a DataTable existente
                            }else{
                                // Inicializa a tabela com jQuery DataTables
                                $('#logDataTable').DataTable({
                                    "language": {
                                        "url": "{% static 'css/dataTables/ptbr10_19.json' %}",
                                        sProcessing: '<i style="color: var(--bs-primary);" class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Carregando..</span>',
                                    },
                                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                                    initComplete: function (settings, json) {
                                        $(".btnDataTable").removeClass("btn-secondary");
                                    }
                                });
                            }

                            // Itera sobre cada entrada no log
                            $.each(logEntries, function(index, entry) {
                                // Adiciona uma nova linha na tabela para esta entrada
                                var row = $('<tr>');
                        
                                // Adiciona as células da tabela com base nos dados da entrada
                                row.append($('<td>').text(entry.fields.object_pk)); // Aqui você pode acessar os campos desejados, como 'object_pk'
                                row.append($('<td>').text(entry.fields.object_repr));
                                row.append($('<td>').text(entry.fields.action));
                                row.append($('<td>').text(entry.fields.changes));
                                row.append($('<td>').text(entry.fields.remote_addr));
                                row.append($('<td>').text(entry.fields.timestamp));
                                row.append($('<td>').text(entry.fields.actor));
                        
                                // Adiciona a linha à tabela
                                //$('#logDataTable tbody').append(row);
                                $('#logDataTable').DataTable().rows.add(row);
                            });
                            
                            $('#logDataTable').DataTable().draw();
                            $('#logModal').modal('show');
                            clickedButton.innerHTML = originalButtonText;
                            clickedButton.disabled = false;
                        },
                        error: function(xhr, status, error) {
                            console.error(error); // Manipule erros de requisição aqui
                        }
                    });
                {% endif %}
            {% endfor %}
        }

        function openEditModal(value) {
            // Dividir a string em uma matriz usando ","
            var items = value.split('@#$@#@');
            {% for chave in columns_query_script %}
                {% if chave.1 == 'F' %}
                    $('#editModal #id_{{chave.0}}').val(items[{{chave.2}}].split('-')[0].trim());
                    $('#editModal #id_{{chave.0}}').trigger('change');
                {% else %}
                    $('#editModal #id_{{chave.0}}').val(items[{{chave.2}}]);
                {% endif %}
            {% endfor %}
            

            $('#editModal #titulo').html(`
            {% for chave in columns_query_script %}
                {% if chave.1 == 'P' %}
                    ${items[{{chave.2}}]} - 
                {% endif %}
                {% if chave.1 == 'D' %}
                    ${items[{{chave.2}}]}
                {% endif %}
            {% endfor %}`);

            $('#editModal').modal('show');
        }

        function openDeactivateModal(value) {
            var items = value.split('@#$@#@');

            {% for chave in columns_query_script %}
                {% if chave.1 == 'F' %}
                    $('#deactiveModal #id_{{chave.0}}').val(items[{{chave.2}}].split('-')[0].trim());
                    $('#deactiveModal #id_{{chave.0}}').trigger('change');
                {% else %}
                    $('#deactiveModal #id_{{chave.0}}').val(items[{{chave.2}}]);
                {% endif %}
            {% endfor %}
            
            $('#deactiveModal #titulo').html(`
            {% for chave in columns_query_script %}
                {% if chave.1 == 'P' %}
                    ${items[{{chave.2}}]} - 
                {% endif %}
                {% if chave.1 == 'D' %}
                    ${items[{{chave.2}}]}
                {% endif %}
            {% endfor %}`);

            $('#deactiveModal').modal('show');
        }

        function openActivateModal(value) {
            var items = value.split('@#$@#@');

            {% for chave in columns_query_script %}
                {% if chave.1 == 'F' %}
                    $('#activeModal #id_{{chave.0}}').val(items[{{chave.2}}].split('-')[0].trim());
                    $('#activeModal #id_{{chave.0}}').trigger('change');
                {% else %}
                    $('#activeModal #id_{{chave.0}}').val(items[{{chave.2}}]);
                {% endif %}
            {% endfor %}

            $('#activeModal #titulo').html(`
            {% for chave in columns_query_script %}
                {% if chave.1 == 'P' %}
                    ${items[{{chave.2}}]} - 
                {% endif %}
                {% if chave.1 == 'D' %}
                    ${items[{{chave.2}}]}
                {% endif %}
            {% endfor %}`);

            $('#activeModal').modal('show');
        }

        function openDeleteModal(value) {
            var items = value.split('@#$@#@');

            {% for chave in columns_query_script %}
                {% if chave.1 == 'F' %}
                    $('#deleteModal #id_{{chave.0}}').val(items[{{chave.2}}].split('-')[0].trim());
                    $('#deleteModal #id_{{chave.0}}').trigger('change');
                {% else %}
                    $('#deleteModal #id_{{chave.0}}').val(items[{{chave.2}}]);
                {% endif %}
            {% endfor %}

            $('#deleteModal #titulo').html(`
            {% for chave in columns_query_script %}
                {% if chave.1 == 'P' %}
                    ${items[{{chave.2}}]} - 
                {% endif %}
                {% if chave.1 == 'D' %}
                    ${items[{{chave.2}}]}
                {% endif %}
            {% endfor %}`);

            $('#deleteModal').modal('show');
        }
        
        $(document).ready(function () {
            $('#my-table').dataTable({
                processing: true,
                stateSave: true,
                serverSide: true,
                "language": {
                    "url": "{% static 'css/dataTables/ptbr.json' %}",
                    sProcessing: '<i style="color: var(--bs-primary);" class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Carregando..</span>',
                },
                sAjaxSource: "{{urldata}}",
                lengthMenu: [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, 'Tudo']],
                dom: "<'row'<'col-sm-12 col-md-3 d-flex align-items-center'l><'d-flex justify-content-center col-12 col-md-6'B<'d-flex justify-content-center align-items-center'>><'col-sm-12 col-md-3 text-right'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    {
                        extend: 'csv',
                        text: 'CSV',
                        exportOptions: {
                            columns: ':visible',
                            format: {
                                body: function(data, row, column, node) {
                                    data = $('<p>' + data + '</p>').text();
                                    return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                                }
                            }
                        }
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        exportOptions: {
                            columns: ':visible',
                            format: {
                                body: function(data, row, column, node) {
                                    data = $('<p>' + data + '</p>').text();
                                    return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                                }
                            }
                        }
                    },
                    {% with valor=acessosModel.add %}
                        {% if valor in perms %}
                            {
                                text: '{{tituloInsere}}',
                                action: function (e, dt, node, config) {
                                    $('#insertModal').modal('show');
                                }
                            },
                        {% else %}
                            {
                                text: '{{tituloInsere}}',
                                action: function (e, dt, node, config) {
                                },
                                "className": "disabled",
                            },
                        {%endif%}
                    {% endwith %}
                ],
                columns: [
                    {% for col in columnsTable %}
                        {name: "{{col}}", data: {{forloop.counter0}}},
                    {% endfor %}
                    {
                        name: "Actions",
                        data: null,
                        render: function(data, type, row) {
                            {% if is_link %}
                                var isLinkColumn = "{{ is_link }}";
                                var linkValue = row[isLinkColumn];
                            {% endif %}
                            return `
                                <div class="col-12 text-end">
                                    <div class="btn-group" role="group">
                                        {% if is_link %}
                                            <a href="${linkValue}/" class="btn btn-info"><i class="fa-solid fa-door-closed"></i></a>
                                        {% endif %}
                                        {% with valor=acessosModel.change %}
                                            <button type="button" class="btn btn-info {% if not valor in perms or not log_active %} disabled {%endif%}" {% if log_active %} onclick="openLogModal('${row.map(value =>value).join('@#$@#@')}', this)" {%endif%}><i class="fas fa-history"></i></button>
                                            <button type="button" class="btn btn-primary {% if not valor in perms %} disabled {%endif%}" {% if valor in perms %} onclick="openEditModal('${row.map(value =>value).join('@#$@#@')}')" {%endif%}><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-warning {% if not valor in perms %} disabled {%endif%}" {% if valor in perms %} onclick="openDeactivateModal('${row.map(value =>value).join('@#$@#@')}')" {%endif%}><i class="fas fa-ban"></i></button>
                                            <button type="button" class="btn btn-success {% if not valor in perms %} disabled {%endif%}" {% if valor in perms %} onclick="openActivateModal('${row.map(value =>value).join('@#$@#@')}')" {%endif%}><i class="fa fa-check"></i></button>
                                        {% endwith %}
                                        {% with valor=acessosModel.delete %}
                                            <button type="button" class="btn btn-danger {% if not perms.acessosModel.delete %} disabled {%endif%}" {% if perms.acessosModel.delete %} onclick="openDeleteModal('${row.map(value =>value).join('@#$@#@')}')" {%endif%}><i class="fas fa-trash-alt"></i></button>
                                        {% endwith %}
                                    </div>  
                                </div>
                            `;
                        },
                        orderable: false 
                    }
                ],
            });

            $('#editModal').on('shown.bs.modal', function () {
                $('.edit').select2({
                    language: "pt-BR",
                    theme: 'bootstrap-5',
                    dropdownParent: $("#editModal")
                });
            });
            
            $('#insertModal').on('shown.bs.modal', function () {
                $('.insere').select2({
                    language: "pt-BR",
                    theme: 'bootstrap-5',
                    dropdownParent: $("#insertModal")
                });
            });
        });
    </script>
    

{% endblock %}